<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010880889611-hd7fuk8btim5bok13lijr440ed73ameb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010880889611-hd7fuk8btim5bok13lijr440ed73ameb</string>
	<key>API_KEY</key>
	<string>AIzaSyBDnK2s8rJ8B6BC8Kzz6eEkcU1C3hTZzpA</string>
	<key>GCM_SENDER_ID</key>
	<string>1010880889611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waterReminderApp</string>
	<key>PROJECT_ID</key>
	<string>waterreminderapp-90bfd</string>
	<key>STORAGE_BUCKET</key>
	<string>waterreminderapp-90bfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010880889611:ios:153522c3dd427789</string>
	<key>DATABASE_URL</key>
	<string>https://waterreminderapp-90bfd.firebaseio.com</string>
</dict>
</plist>